<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="PageSize" value="20"/>
  <add key="MaxPage" value="5"/>

  <add key="SMTPHost" value="smtp.gmail.com"/>
  <add key="SMTPPort" value="587"/>
  <add key="FromEmailAddress" value="nghiadv1006@gmail.com"/>
  <add key="FromEmailPassword" value="nghia123"/>
  <add key="FromName" value="Nghĩa"/>
  <add key="AdminEmail" value="nghiadv1006@gmail.com"/>
  <add key="CurrentLink" value="http://localhost:55429/"/>
</appSettings>