<div id="footer">
    <div class="container">
        <div class="row">
            <div class="widget fl-left">
                <a href="#header"><img src="~/Assets/client/images/logo-copy.png" alt=""></a><br>
                <h>Chúng ta vẫn biết rằng, làm việc với một đoạn văn bản dễ đọc và rõ nghĩa dễ gây rối trí và cản trở việc tập trung vào yếu tố trình bày văn bản. Lorem Ipsum có ưu điểm hơn so với đoạn văn bản chỉ gồm nội dung kiểu "Nội dung, nội dung, nội dung" là nó khiến văn </h>
            </div>
            <div class="fl-left widget-content">
                <div class="widget-head">
                    <h4>danh mục</h4>
                </div>
                <div class="widget-detail">
                    <ul class="list-course">
                        <li><a href=""><i class="fa fa-check" aria-hidden="true"></i>Thời trang thu đông</a></li>
                        <li><a href=""><i class="fa fa-check" aria-hidden="true"></i>Thời trang mùa hè</a></li>
                        <li><a href=""><i class="fa fa-check" aria-hidden="true"></i>Thời trang nam</a></li>
                        <li><a href=""><i class="fa fa-check" aria-hidden="true"></i>Thời trang nữ</a></li>
                        <li><a href=""><i class="fa fa-check" aria-hidden="true"></i>Thời trang trẻ em</a></li>
                    </ul>
                </div>
            </div>
            <div class="fl-left widget-content">
                <div class="widget-head">
                    <h4>bán chạy</h4>
                </div>
                <div class="widget-detail">
                    <ul class="list-course">
                        <li><a href=""><i class="fa fa-check" aria-hidden="true"></i>Thời trang thu đông</a></li>
                        <li><a href=""><i class="fa fa-check" aria-hidden="true"></i>Thời trang mùa hè</a></li>
                        <li><a href=""><i class="fa fa-check" aria-hidden="true"></i>Thời trang nam</a></li>
                        <li><a href=""><i class="fa fa-check" aria-hidden="true"></i>Thời trang nữ</a></li>
                        <li><a href=""><i class="fa fa-check" aria-hidden="true"></i>Thời trang trẻ em</a></li>
                    </ul>
                </div>
            </div>
            <div id="fanpage" class="fl-right">
                <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Ffcbarcelona&tabs&width=340&height=214&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="340" height="214" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
            </div>
        </div>
    </div>
</div>
<div id="copy-right">
    <h4>© 2020  All rights reserved -  Bản quyền thuộc về Nghia.com</h4>
</div>
